.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.branding img {
    height: 20%;
    width: 20%;
}