.container {
    display: flex;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
}


/* Branding */
.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.branding img {
    height: 15%;
    width: 15%;
}


/* Form */
.form-corner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input {
    background-color: #acabab;
    border: 1px solid #2A8BF2;
    border-radius: 15px;

    height: 40px;
    padding-left: 10px;
}

.form-corner a {
    color: #184B65;
    text-decoration: none;
    font-weight: bold;
}

.form-corner p {
    color: #6C8292;
}

/* Login Button */
.btn-submit {
    border: none;
    border-radius: 10px;
    background-color: #184B65;
    cursor: pointer;

    font-size: medium;
    font-weight: bold;
    color: #ccc;

    padding: 15px;
    height: 50px;
    width: 260px;
}